/*"Helvetica Neue", Helvetica, Arial, sans-serif;*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* Elastislide Style */
.es-carousel-wrapper {
  background: #a3d6f4;
  padding: 10px 27px;
  border-radius: 10px;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
  position: relative;
  margin-bottom: 20px;
}
.es-carousel {
  overflow: hidden;
  background: #000;
}
.es-carousel ul {
  display: none;
}
.es-carousel ul li {
  height: 100%;
  float: left;
  display: block;
}
.es-carousel ul li a {
  display: block;
  border-style: solid;
  border-color: #222;
  opacity: 0.8;
  -webkit-touch-callout: none;
  /* option */

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.es-carousel ul li a img {
  display: block;
  border: none;
  max-height: 100%;
  max-width: 100%;
}
.es-carousel ul li.selected a {
  border-color: #fff;
  opacity: 1.0;
}
.es-nav span {
  position: absolute;
  top: 50%;
  left: 8px;
  background: transparent url(../img/carousel-images/nav_thumbs.png) no-repeat top left;
  width: 14px;
  height: 26px;
  margin-top: -13px;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.8;
}
.es-nav span:hover {
  opacity: 1.0;
}
.es-nav span.es-nav-next {
  right: 8px;
  left: auto;
  background-position: top right;
}
/* The following styles were copied over from style.css, to reduce http requests  */
.rg-image-wrapper {
  position: relative;
  padding: 20px 30px;
  background: url(../img/carousel-images/black.png) repeat top left #a3d6f4;
  border-radius: 10px;
  min-height: 20px;
}
.rg-image {
  position: relative;
  text-align: center;
  line-height: 0px;
}
.rg-image img {
  max-height: 100%;
  max-width: 100%;
}
.rg-image-nav a {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #a3d6f4 url(../img/carousel-images/nav.png) no-repeat -20% 50%;
  width: 28px;
  height: 100%;
  text-indent: -9000px;
  cursor: pointer;
  opacity: 0.5;
  outline: none;
  border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next {
  right: 0px;
  left: auto;
  background-position: 115% 50%;
  border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover,
.rg-image-nav a:focus {
  opacity: 1;
}
.rg-caption {
  text-align: center;
  margin-top: 15px;
  position: relative;
}
.rg-caption p {
  font-size: 11px;
  padding: 0 15px;
}
.rg-view {
  height: 30px;
}
.rg-view a {
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: #cccccc url(../img/carousel-images/views.png) no-repeat top left;
  border: 3px solid #ccc;
  opacity: 0.8;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
}
.rg-view a:hover {
  opacity: 1.0;
}
.rg-view a:focus {
  outline: none;
}
.rg-view a.rg-view-full {
  background-position: 0px 0px;
}
.rg-view a.rg-view-selected {
  background-color: #a3d6f4;
  border-color: #a3d6f4;
  -webkit-box-shadow: 2px 2px 4px #666666;
  -moz-box-shadow: 2px 2px 4px #666666;
  box-shadow: 2px 2px 4px #666666;
  opacity: 1.0;
  cursor: default;
}
.rg-view a.rg-view-thumbs {
  background-position: 0px -16px;
}
.rg-loading {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000000 url(../img/carousel-images/ajax-loader.gif) no-repeat center center;
  margin: -23px 0px 0px -23px;
  z-index: 100;
  border-radius: 10px;
  opacity: 0.7;
}
